header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    margin-top: 10vh;
}

main {
    margin-top: 10vh;
}

button {
    margin-top: 10vh;
    width: 80px;
}